@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Poppins:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

@screen lg {
	.background-image-lg {
		background-image: url("../../src/assets/green-blobs.svg");
		background-size: cover;
		background-position: center;
	}
}

body {
	box-sizing: inherit;
	margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
